<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Discord Bot</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="features-boxed" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Discord Bot<br>Ziewamy Blacha</h2>
                <p class="text-center"><br>Made as a side project for me and my friends during my first steps in JavaScript. Made using&nbsp;<a href="https://discord.js.org/#/">Discord.js</a>. Ready to be deployed on Heroku. Most of the functionality is based on Riot Games
                    API and Google Sheets API.<br><br></p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-user icon"></i>
                        <h3 class="name">LOGGED NOW AS</h3>
                        <p class="description"><%=data.username %></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-wifi icon"></i>
                        <h3 class="name">PORT</h3>
                        <p class="description"><%=data.port %></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-clock-o icon"></i>
                        <h3 class="name">ONLINE SINCE</h3>
                        <p class="description"><%=data.readyAt %></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-comments icon"></i>
                        <h3 class="name">NUMBER OF ACTIVE&nbsp;COMMANDS</h3>
                        <p class="description"><%=data.commandsCount %></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-server icon"></i>
                        <h3 class="name">HOSTED ON</h3>
                        <p class="description">Heroku</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-key icon"></i>
                        <h3 class="name">USED API</h3>
                        <p class="description">RIOT API<br>GOOGLE SHEETS API<br>COVID-19 API</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="padding: -31px;margin-top: -80px;">Want to use it?</h2>
                <p class="text-center">Check GitHub to see how to use it on your own server.</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="https://github.com/kamilbakierzynski/js_discord_bot">GITHUB</a></div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://github.com/kamilbakierzynski"><i class="icon ion-social-github"></i></a><a href="https://www.linkedin.com/in/kamil-bakierzy%C5%84ski-8b6612183/"><i class="icon ion-social-linkedin"></i></a></div>
            <ul class="list-inline"></ul>
            <p class="copyright">Kamil Bakierzyński © 2020</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>