<!-- views/pages/stats.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Discord Bot</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="login-clean" style="background-color: rgb(255,255,255);">
        <form method="POST" action='/signin' id='code-login'>
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-social-octocat" style="color: #055ada;"></i></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Code"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: #055ada;">Sign In</button></div><a class="forgot" href="/">Didn't recieve any code?</a></form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>